<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Admin.css">
</head>
<body>
    <table>
        <tr>
            <th>Username</th>
            <th>Number</th>
            <th>ID</th>
            <th>Restaurant</th>
            <th>Date</th>
            <th>Time</th>
            <th>People</th>
            <th>Seat</th>
            <th>Ocassion</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
        </tr>
        <% datas.forEach(data=> { %>
        <tr>
            <td><%=  data.username %></td>
            <td><%=  data.number %></td>
            <td><%=  data._id %></td>
            <td><%=  data.restaurant %></td>
            <td><%=  data.date %></td>
            <td><%=  data.time %></td>
            <td><%=  data.people %></td>
            <td><%=  data.seat %></td>
            <td><%=  data.ocassion %></td>
            <td><%=  data.createdAt %></td>
            <td><%=  data.updatedAt %></td>
            <td><a class="delete" href="/api/Data/delete/<%= data._id %>/?key=123456789">Delete</a></td> 
        </tr>

        <% }); %>

    </table>
</body>
</html>